version: '3'
services:
  redis:
    container_name: redis
    hostname: redis
    image: redis
    ports:
      - 6379:6379
    links: [redis-commander]

  redis-commander:
    container_name: redis-commander
    hostname: redis-commander
    image: rediscommander/redis-commander:latest
    build: .
    restart: always
    environment:
      - REDIS_HOSTS=redis
    ports:
      - 8081:8081